@import "parent.scss";


.container {
    background: #000;
    display: flex;
    padding: 4rem;
    color: white;
    // align-items: center;


    .texts {
        flex: 2;
        padding: 2rem;

        p {
            line-height: 3rem;
            font-size: 1.8rem;
        }
    }

    .more {
        padding: 2rem;
        flex: 1;
        @extend %flex-center;
        flex-direction: column;
        background: url('/lines.svg') no-repeat;
        background-size: cover;
        background-attachment: fixed;

        a {
            font-size: 1.5rem;
            background: #000;
            padding: 1rem 3rem;
        }

    }

}