@import "parent.scss";

.container {
    margin: 5rem;

    @media screen and (max-width: 800px) {
        margin: 1rem;
    }
}



.wrapper {
    margin-top: 10rem;
    background: rgb(110, 110, 110);
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    padding: 4rem;
    color: white;
    box-shadow: 1px 1px 5px 5px rgba(128, 128, 128, 0.226);

    @media screen and (max-width: 500px) {
        padding: 2rem;
    }

    .href {
        color: rgb(221, 221, 221);
        text-decoration: underline;
    }

    h3 {
        font-weight: 300;
    }

    .content {
        margin: 4rem 0;
        display: flex;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
        }

        hr {
            opacity: .3;
        }

        h1 {
            flex: 1;
            font-weight: 400;
            padding: 0 3rem 0 0;

            @media screen and (max-width: 1000px) {
                margin-bottom: 2rem;
            }
        }

        p {
            flex: 3;
            font-size: 1.3rem;
            line-height: 2.6rem;
            opacity: .8;

            @media screen and (max-width: 500px) {
                line-height: 1.5rem;
                font-size: 1rem;
            }
        }
    }

    .image_showcase {
        display: flex;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            width: .5em;
            height: 3px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(250, 250, 250, 0.137);
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }

        img {
            background: red;
            margin: 2rem;
            max-width: 500px;
        }
    }

}